<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contact.css">
    <title>Contact Information</title>
</head>
<body>
    <div class="container">
        <h1>Contact Information</h1>
        <h2>Brian Wong & Sazid Omi</h2>
        <ul>
            <li><strong>Location:</strong> New York, NY</li>
            <li><strong>Number:</strong> #########</li>
            <li><strong>Brian's Email:</strong> bwong2411@gmail.com</li>
            <li><strong>Sazid's Email:</strong> sazidomi2023@gmail.com</li>
            <li><strong>GitHub:</strong>
                <a href="https://github.com/Somi2002">Sazids</a>
                <a href="https://github.com/BrianWong24">Brians</a>
            </li>
            <li><strong>LinkedIn:</strong>
                <a href="www.linkedin.com/in/sazid-omi">Sazids</a>
                <a href="www.linkedin.com/in/brianw24">Brians</a>
            </li>
        </ul>
        <a href="{{ url_for('index') }}" class="btn">Back to Home</a>
    </div>
</body>
</html>
